#comments.comments-section {
    margin-bottom: 6em;
}

.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.commenter.comments {
    position: relative;
    margin-bottom: 3em;
    min-height: 900px;

}

.commenter .discussion-header { 
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

/* LOADER */

.commenter .loading-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
}

.commenter .discussion-loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 150px;
    z-index: 99;
}

.commenter .discussion-loader,
.commenter .thread-loader {
    margin: 0 auto;
    text-align: center;
}

.commenter .discussion-loader span,
.commenter .thread-loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #cfd9db;
  margin: 35px 5px;
  opacity: 0;
}

.commenter .discussion-loader span:nth-child(1),
.commenter .thread-loader span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}

.commenter .discussion-loader span:nth-child(2),
.commenter .thread-loader span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.commenter .discussion-loader span:nth-child(3),
.commenter .thread-loader span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

.commenter .discussion-title {
    line-height: 30px;
}

.commenter .thread-title {

	vertical-align: middle;

}

.commenter .thread {
    position: relative;
    display: none;
    visibility: hidden; 

}

.commenter .thread.current-thread {
    display: block;
    visibility: visible;
}

.commenter .comment.depth-1 {
    margin-bottom: 1em;
} 


.commenter .current-thread .comment .comment-body .comment-header .comment-author .citation .ref a::before,
.commenter .current-thread .comment-form-container .comment-form .citation .ref a::before {

content: ' ';
display: inline-block;
position: relative;
height: 0px;
width: 0px;
background-color: transparent;
border-top: 4px solid transparent;
border-right: 4px solid transparent;
border-left: 4px solid #999;
border-bottom: 4px solid transparent;
right: -5px;
padding: 0px 3px;

}

.commenter .current-thread .comment .comment-body .citation .ref a,
.commenter .current-thread .comment-form-container .comment-form .citation .ref a {
	vertical-align: middle;
}

/*.commenter .current-thread .comment .comment-body .btn.commenter-action-menu-btn,
.commenter .comment-form .btn.commenter-action-menu-btn {

	padding: 2px;
	border: 1px solid #ccc;

}

.commenter .current-thread .comment .comment-body .icon.more-icon::after,
.commenter .current-thread .comment .comment-body .more-icon::after,
.commenter .comment-form .more-icon::after {

content: ' ';
display: inline-block;
position: relative;
height: 0px;
width: 0px;
background-color: transparent;
border-top: 4px solid #666;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
border-bottom: 4px solid transparent;

}*/

.commenter .discussion-info {
    visibility: hidden;
    display: none;
    padding: 0 2em 2em;
    background: #f6f9fc;
    border-radius: .25em;
    margin-bottom: 2em;
}

.commenter .discussion-info:target {
    visibility: visible;
    display: block;
}

.commenter .discussion-info p {
    font-size: 1em;
    line-height: 1.5;
    color: #2b3e51;
}

.commenter .discussion-info-close,
.commenter .comment-form-help-close {
    text-align: end;
    padding: 1em 0;
}

.commenter #comment-form-help {
    visibility: hidden;
    display: none;
    padding: 0 2em 2em;
    background: #f6f9fc;
    border-radius: .25em;
    margin-bottom: 2em;  
}

.commenter #comment-form-help:target {
    visibility: visible;
    display: block;
}

.commenter #comment-form-help p {
    font-size: 1em;
    line-height: 1.5;
    color: #2b3e51;
}

.commenter button.commenter-action-menu-btn {

    height: 20px;
    background: transparent;

}

.commenter .icon.more-icon {
    position: relative;
    width: 3px;
    height: 3px;
    background-color: #94aab0;
    border-radius: 50%;
    top: -18px;
}

.commenter .icon.more-icon:before, 
.commenter .icon.more-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
}

.commenter .icon.more-icon:before {
  top: 6px;
}


.commenter .icon.more-icon:after {
  top: 12px;
}

.commenter .icon.info-icon::before {
    content: 'i';
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 17px;
    height: 16px;
    position: absolute;
    display: inline-block;
    width: 16px;
    top: 0;
    left: 0;
}

.commenter .icon.info-icon {
    display: inline-block;
    color: #94aab0;
    font-size: 18px;
    border-radius: 50%;
    border: solid 2px #94aab0;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.commenter .icon.help-icon::before {
    content: '?';
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 17px;
    height: 16px;
    position: absolute;
    display: inline-block;
    width: 16px;
    top: 0;
    left: 0;
}

.commenter .icon.help-icon {
    display: inline-block;
    color: #94aab0;
    font-size: 18px;
    border-radius: 50%;
    border: solid 2px #94aab0;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.commenter .icon.close-icon {
 /* position: absolute;*/
    right: 0px;
    top: 4px;
    width: 20px;
    height: 20px;
    opacity: 1;
}
.commenter .icon.close-icon:hover {
  opacity: 1;
}
.commenter .icon.close-icon:before, 
.commenter .icon.close-icon:after {
  position: absolute;
  left: 9px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #94aab0;
}
.commenter .icon.close-icon:before {
  transform: rotate(45deg);
}
.commenter .icon.close-icon:after {
  transform: rotate(-45deg);
}


.commenter .discussion-navigation {
    border-top: 1px solid #e4e7ea;
    margin: 1em 0;
    display: inline-flex;
    width: 100%;
}

.commenter .tabs,
.commenter .thread-tabs {
    margin: 0;
	padding: 0;
	list-style: none;

}

.commenter .tabs .tab,
.commenter .thread-tabs .tab,
.commenter .discussion-navigation .tab {

	display: inline-block;
	padding: 0.5em 0;

}

.commenter .tabs .tab:last-child,
.commenter .discussion-navigation .tab:last-child {
    margin-right: 0px;
    margin-left: auto;
}

.commenter .tabs .tab:last-child a,
.commenter .thread-tabs .tab:last-child a {
    padding-right: 0;
}

.commenter .tabs .tab a,
.commenter .thread-tabs .tab a {

	padding: 0.5em 1em;
    font-size: small;

}

.commenter .tabs .current-tab,
.commenter .thread-tabs .current-tab {

	border-top: 1px solid #1e6bcf;
	margin-top: -1px;
	color: #333;

}

.commenter .tabs .current-tab .link,
.commenter .thread-tabs .current-tab .link {
	color: #333;
	font-weight: 400;

}

.commenter .discussion-sortings {

    float: right;

}

.commenter .current-thread .comment .comment-body .reactions.reply  {
    display: inline-flex;
    overflow: unset;
    width: 100%;
}

.commenter .current-thread .comment .comment-body .reactions.reply > .reaction:last-of-type,
.commenter .current-thread .comment .comment-body .reactions.reply > .reaction.like-reaction,
.commenter .current-thread .comment .comment-body .reactions.reply > .like-reaction,
.commenter .current-thread .comment .comment-body .reactions.reply > .like-reaction {
    margin-left: auto;
}

.commenter .current-thread .comment .comment-body .heart{
    position: relative;
    width: 20px;
    height: 16px;
    float: left;
    outline: 0;
}
.commenter .current-thread .comment .comment-body .heart:before,
.commenter .current-thread .comment .comment-body .heart:after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 15px;
    background: pink;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.commenter .current-thread .comment .comment-body .heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.commenter .current-thread .comment .comment-body .heart.unlike-action-link:before,
.commenter .current-thread .comment .comment-body .heart.unlike-action-link:after {
    background: red !important;
}

.commenter .current-thread .comment .comment-body .heart:hover:before,
.commenter .current-thread .comment .comment-body .heart:hover:after {
    background: #ff83b6 !important;
}

.commenter .current-thread .comment .comment-body .heart.not-interactive:before,
.commenter .current-thread .comment .comment-body .heart.not-interactive:after,
.commenter .current-thread .comment .comment-body .heart.not-interactive:hover:before,
.commenter .current-thread .comment .comment-body .heart.not-interactive:hover:after {

    background: #ddd;
    opacity: 1;

}

.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart{
    position: relative;
    width: 20px;
    height: 16px;
    float: left;
    display: none;
}

.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart:before,
.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart:after{
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 15px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
            z-index: -3;
}
.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart::after {
    position: absolute;
    width: 10px;
    height: 15px;
    left: 0;
    top: 0;
    font-size: 26px;
    line-height: 54px;
    color: #ea515e;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.commenter .current-thread .comment .comment-body .heart.btn-link .animated-heart.activated {
    z-index: 1;
    display: block;
    -webkit-animation: scaleFade 0.5s forwards;
    -moz-animation: scaleFade 0.5s forwards;
    -ms-animation: scaleFade 0.5s forwards;
    -o-animation: scaleFade 0.5s forwards;
    animation: scaleFade 0.5s forwards;

}

.commenter .current-thread .comment .comment-body .like-btn {
    color: red;
    display: block;
    height: 100%;
    padding: 3px 0px 3px 9px;
    position: relative;
}

.commenter .current-thread .comment .comment-body .unlike-btn {
    color: red;
    display: block;
    height: 100%;
    padding: 3px 0px 3px 9px;
    position: relative;
}

.commenter .current-thread .comment .comment-body .like-count {
    float: left;
    vertical-align: top;
    position: relative;
    left: 0;
    margin: auto;
    height: 15px;
    top: -2px;
    padding-right: 3px;
}

.commenter .current-thread .comment .comment-body .like-btn .like-count {
    color: #f66;
}

.commenter .current-thread .comment .comment-body .unlike-btn .like-count {
    color: red;
}

.commenter .current-thread .comment .comment-body .like-btn.not-interactive .like-count {
    color: #999;
}

.commenter .current-thread .comment .comment-body .comment.awaiting-moderation > .comment .comment-body {
    opacity: 0.5;
}

.commenter .current-thread .comment .comment-body .comment.awaiting-moderation > .comment .comment-body:hover {
    opacity: 1;
}

.commenter .remember-me-consent {
    width: 70%;
    float: right;
    text-align: left;
}

.commenter .form-toggle {
    height: 100%;
    display: block;
    margin: 0 1em 0 0;
    bottom: 0px;
    content: "";
    float: left;
}

.commenter .remember-me-consent > .toggle-container > .form-toggle > .toggle {
    margin: 0 1em 1em 0;
}

/*.commenter .remember-me-consent > .toggle-container {
    height: 100%;
    position: relative;
    bottom: 0px;
    float: left;
}*/

.commenter .remember-me-consent .label-text {
    padding-left: 3em;
    height: 100%;
    display: block;
}

.commenter .current-thread .commenter-body .unflag-action-link,
.commenter .current-thread .commenter-body .comment-actions .unflag-action-item > a {

    color: orange;

}

.commenter .no-comments-msg,
.commenter .comments-closed-msg {

    text-align: center;

}

.commenter .comment .comment-body .comment-footer .comment-notifications {

    margin: 1em 0 0 0;

}

.commenter .comment .comment-body .comment-footer .comment-notifications .unfocus-link {

    display: none;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 0;


}

.commenter .comment:target > .comment-body > .comment-footer > .comment-notifications .unfocus-link {

    display: inline-block;
    visibility: visible;
    opacity: 1;
    margin-bottom: 1em;

}

.commenter .badge.comment-count {
    font-weight: 400;
    padding: 0 0.6em;
    text-shadow: none;
    font-size: 80%;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}


.commenter .badge.comment-count.new-comment {
    color: #b55205;
    background-color: #ffe7b5;
    font-size: 80%;

    -webkit-animation: blink 0.5s forwards;
    -moz-animation: blink 0.5s forwards;
    animation: blink 0.5s forwards;
}

.commenter .unflag-action-link {
    color: orange;
}

.commenter .comments_loadmore {
    width: 100%;
}

.commenter .comments-loadmore.btn.btn-pill.btn-primary {
    width: 100%;
    max-width: 390px;
}

.commenter .comments-loadmore.loading > .loading-spinner {
    visibility: hidden;
    display: inline-block;
    background-image: url(./icn/loader.svg);
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    vertical-align: middle;
}

.commenter .comments-loadmore.loading > .loading-spinner.rotating { 
    visibility: visible;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


.commenter .comments-loadmore.loading > .loading-spinner.rotating { 

    visibility: visible;
}

.commenter .comments-loadmore-container {
    text-align: center;
    display: inline-flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.commenter .comments-loadmore-container.hidden,
.commenter .comments-loadmore.hidden {

    display: none;

}

.commenter .comment.depth-1 .has-parent .parent-info {

    padding: 6px 9px;
    background: #f3f3f3;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    height: 30px;
    color: #666;

}

.commenter .parent-author-box {
    display: flex;
    align-items: center;
}

.commenter .parent-comment-avatar img {
    vertical-align: middle;
}

.commenter .parent-author-box .parent-link {
    margin-left: 6px;
}

.commenter .parent-comment-avatar {

    margin-right: 3px;

}

.respond-form-container {

    margin: 0 0 1em 0;

}

.commenter .comment-author-info {
    padding: 1em;
    background-color: #f6f9fc;
    clear: both;
    overflow: hidden;
    margin-bottom: 1em;
}

.commenter .comment-author-info .form-group {
    overflow: hidden;
}

.commenter .form-group.form-buttons {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.commenter .comment-author-info label {
    color: #2b3e51;
    float:left;
}

.commenter .comment-author-info input.form-control {
    height: 30px;
    width: 70%;
    float: right;
    display: inline-block;
}

.commenter .email-footnote {
    margin: 0;
    width: 100%;
    float: left;
}

.commenter .navigation.comments.nav-links {
    width: 100%;
    margin: auto;
    display: inline-block;
}

.commenter .page-numbers,
.commenter .page-numbers.dots {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 300;
    /* height: 30px; */
    /* width: 30px; */
    line-height: 1.3;
    list-style: none;
    width: auto;
    max-width: none;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #e6e6e6;
    padding: .3em .6em;
}

/*.comment-body > .respond-form {

    background-color: blue;

}*/

.comments-open-loggedout {

    padding: 2em;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: .25em;

}

.comments-section {

    margin-bottom: 9em;

}

#comments {

    display: block;
    width: 100%;
    margin-bottom: 2em;

}

textarea.form-control.commenter-comment-form-textarea {
    min-height: 50px;
    height: 80px;
    margin-bottom: 0;
}

.commenter .comment-form .form-group {
    margin-bottom: 1em;
}

.comment {

    word-wrap: break-word;

}

.comment.awaiting-moderation > .comment-body {
    opacity: 0.5;
}

.comment > .comment-body:after {

    background-color: transparent;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
}


.comment > .comment-body:before {

    border: 1px solid transparent;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}

/*.comment:target.depth-1,
.new-comment.depth-1 {

    margin-right: 2em;

}*/


.comment:target > .comment-body,
.new-comment > .comment-body {
    position: relative;
    padding: 1em 1em 1em 0;
    background-color: #fff6e2;
    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}

.comment:target > .comment-body::before,
.new-comment > .comment-body::before {
    content: "";
    top: 0;
    border: 1px solid #fff6e2;
    border-left: 1px solid #3e91fd;
    right: 1em;
    position: absolute;
    height: 100%;
    left: -1em;
    margin-left: -1px;
    margin-right: -1em;
    z-index: 0;
    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}

.comment:target > .comment-body::after,
.new-comment > .comment-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1em;
    padding-left: 1em;
    background-color: #fff6e2;
    z-index: 0;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}

.comment:target.depth-1 > .comment-body::after, 
.new-comment.depth-1 > .comment-body::after {

    padding-left: 0em;

}

.comment:target.depth-1 > .comment-body,
.new-comment.depth-1 > .comment-body {
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
}

.comment:target.depth-1 > .comment-body::after
.new-comment.depth-1 > .comment-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1em;
    padding-left: 0;
    background-color: #ffe7b5;
    z-index: -1;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

}

.comment:target.depth-1 > .comment-body:before,
.new-comment.depth-1 > .comment-body::before {
    margin-left: 0px;
}

.comment:target.depth-1 > .comment-body:before,
.comment:target.depth-1 > .comment-body:after,
.new-comment.depth-1 > .comment-body:before,
.new-comment.depth-1 > .comment-body:after {
    left: 0em;
}

.comment:target > .comment-body > .comment-header > .comment-author > .comment-actions > .mini-dropdown > .btn.btn-link.btn-link-secondary,
.new-comment > .comment-body > .comment-header > .comment-author > .comment-actions > .mini-dropdown > .btn.btn-link.btn-link-secondary {
    background: transparent;
}

.comment:target > .comment-body .respond-form-container,
.new-comment > .comment-body .respond-form-container {

    margin: 1em 0 0 0;
    z-index: 9;
    position: relative;
    padding-right: 1em;

}

.citation {
    width: auto;
    color: #333;
    overflow: hidden;
    text-overflow: clip;
    position: relative;
    white-space: nowrap;
}



.citation::after {
    height: 100%;
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 2em);
    padding-left: 3em;

}

.comment:target > .comment-body .comment-header .comment-author > .citation::after,
.comment:target > .comment-body #respond .comment-body .comment-author > .citation::after,
.new-comment > .comment-body .comment-header .comment-author > .citation::after {
    background-image: linear-gradient(to right, rgba(255, 246, 226, 0) 0, rgba(255, 246, 226, 1) 2em);
}


.commenter .fn {
    position: relative;
    vertical-align: middle;
    font-weight: normal;
}

.citation .ref a {
    vertical-align: middle;
}

/*.bypostauthor > .comment-body > .comment-header > .comment-author > .citation > .fn:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 7px;
    border: solid #1e6bcf;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    vertical-align: middle;
    margin: 0 0.3em 0 1em;
}*/

/*.bypostauthor > .comment-body > .comment-header > .comment-author > .citation > .fn:before {
    position: absolute;
    content: "";
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid #1e6bcf;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
*/
/*.ref > a {

    vertical-align: middle;

}*/

.comment.parent > .children {
    list-style: none;
    padding: 0;
}

.comment.parent.depth-1 > .children,
.comment.parent.depth-2 > .children,
.comment.parent.depth-3 > .children {
    list-style: none;
    padding: 0 0 0 1em;
    border-left: 1px solid #ccc;
    margin: 0 0 2em;
}


.comment-author {
    padding: 0 0 0 0;
    position: relative;
    margin-bottom: 1em;
}

.comment-text {
    margin-bottom: 1em;
}

.comment-text > :first-child {
    margin-top: 0;
}


span.comment-avatar {
    position: relative;
}

.comment.bypostauthor > .comment-body > .comment-header > .comment-author > .comment-avatar::before {

    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background-color: #3e91fd;
    border-radius: 50%;
    position: absolute;
    bottom: -44px;
    left: -27px;
    z-index: 6;
    border: 2px solid white;

}

.comment.bypostauthor:target > .comment-body > .comment-header > .comment-author > .comment-avatar::before,
.new-comment.bypostauthor > .comment-body > .comment-header > .comment-author > .comment-avatar::before { 
    border: 2px solid #ffe7b5;
}

.comment.bypostauthor > .comment-body > .comment-header > .comment-author > .comment-avatar::after {

    bottom: -37px;
    left: -19px;
    z-index: 7;
    position: absolute;
    content: "";
    width: 2px;
    height: 5px;
    border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

}

.commenter .comment-form .comment-author {
    margin-bottom: 1em;
}

.comment-actions {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    /*z-index: 6;*/
}

.approve-action-item {
background: lightgreen;
}

.approve-action-item > .link {
    color: green;
}

.approve-action-item::hover {

    background: lightgreen;

}

.approve-action-item > .link:hover {
    color: lightgreen;
}

.comment-actions .link.link-secondary,
.comment-actions .btn.btn-link {
    padding-right: 0;
    padding-top: 0;
}

.comment-author .avatar {
    background: #fff;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 1em 0 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
}

.comment-list li .fn,
.comment-list li cite.fn,
.comment-list li .cfn {
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

.comment-list li .says {
    display: none;
}

.comment-list li .commentmetadata a {
    color: #999;
}

.comment-content {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.comment-text {
    line-height: 1.5;
}

.comment-body {
    padding: 1em 0 1em 0;
    margin-bottom: 1em;
    position: relative;

    -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
    transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
}


.comment:target > .comment-body {

    padding: 1em 1em 1em 0;
    margin-bottom: 1em;

}

.comment > .comment-body .respond-form-container {
    margin: 1em 0 0 0;
    position: relative;
}

.comment.depth-1 > .comment-body .respond-form-container,
.comment.depth-2 > .comment-body .respond-form-container,
.comment.depth-3 > .comment-body .respond-form-container,
.comment.depth-1 > .respond-form-container,
.comment.depth-2 > .respond-form-container,
.comment.depth-3 > .respond-form-container {

    margin: 1em 0 0 0;
    border-left: 1px solid #ccc;
    padding-left: 1em;

}

.comment.depth-1 > .respond-form-container > .comment-form,
.comment.depth-2 > .respond-form-container > .comment-form,
.comment.depth-3 > .respond-form-container > .comment-form {

    margin-bottom: 0;

}

.comment .cancel-comment-reply {
    float: right;
}

.comment-cancel-action,
.commenter .comment-action-buttons {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.commenter .btn.btn-link.discussion-info-btn {
    padding-left: 0;
}

.comment-body .respond-form-container .comment-action-buttons {
    margin-bottom: 1em;
}

.comment-action-buttons > .comment-actions {
    display: block;
    position: relative;
}

#cancel-comment-reply-link,
#cancel-link {
    color: #94aab0;
}

#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:focus,
#cancel-link:hover,
#cancel-link:focus {
    color: #2b3e51;
}

.commenter .comment-footer {
    margin: 0.5em 0;
    width: 100%;
    z-index: 1;
}

.commenter .comment-footer .comment-reaction-bar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
} 

.comment-metadata {
    font-size: 80%;
}


.commenter .comments-area {
    list-style: none;
    padding: 0;
    margin: 0 0 2em 0;
}

.comment > .comment-header, 
.comments-area article header {
    margin: 0;
    position: relative;
}

.commenter .comment > .comment-header, 
.commenter .comment > .comment-content, 
.commenter .comment > .comment-footer {
    position: relative;
} 

.commenter .comment > .comment-header {
    z-index: 3;    
}

.commenter .comment > .comment-content {
    z-index: 2;
}

.commenter .comment > .comment-footer {
    z-index: 1;
}

.comment-reply-link {

    margin-right: 1em;

}

.comments_loadmore {
    width: 100%;
}

.comments-settings {

    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;

}

.commenter .discussion-sortings {
    float: right;
}

#comments-sort-order .btn,
.commenter .discussion-sortings > a.link {
    padding: 6px 0px;
}

.commenter .discussion-sortings > label .left,
.commenter .discussion-sortings > label .right {
    margin: 0;
}


.commenter .discussion-sortings > .btn::after,
.commenter .discussion-sortings > .link::after {
    content: '';
    display: inline-block;
    height: 0px;
    width: 0px;
    background-color: transparent;
    border-top: 4px solid #999;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    vertical-align: middle;
    margin-top: 4px;
}

label.required {
    position: absolute;
}

label.required::after {

    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #c92931;
    border-radius: 50%;
    margin: 0px 3px;
    position: relative;
    top: -6px;

}

.required-badge {
    width: 6px;
    height: 6px;
    display: inline-block;
}

@media ( min-width: 750px; ) {

    /*--------------------------------------------------------------
     Comments
    --------------------------------------------------------------*/

    .comment:target > .comment-body::before,
    .new-comment > .comment-body::before {
        right: 2em;
        left: -2em;

    }

    .comment:target > .comment-body::after,
    .new-comment > .comment-body::after {
        left: -2em;
        padding-left: 2em;

        -webkit-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
        -moz-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
        -ms-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
        -o-transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;
        transition: all 0.15s ease-in-out 0s, visibility 0s linear 0.15s;

    }

    .comment:target > .comment-body::after,
    .new-comment > .comment-body::after {
        left: -2em;

    }

    .comment:target.depth-1 > .comment-body,
    .new-comment.depth-1 > .comment-body {
        padding: 1em 1em 1em 2em;
    }

    .comment:target.depth-1 > .comment-body::after, 
    .new-comment.depth-1 > .comment-body::after {

        padding-left: 0em;

    }

    .comment.parent.depth-1 > .children,
    .comment.parent.depth-2 > .children,
    .comment.parent.depth-3 > .children {
        padding: 0 0 0 2em;
    }

    .comment.depth-1 > .comment-body .respond-form-container,
    .comment.depth-2 > .comment-body .respond-form-container,
    .comment.depth-3 > .comment-body .respond-form-container,
    .comment.depth-1 > .respond-form-container,
    .comment.depth-2 > .respond-form-container,
    .comment.depth-3 > .respond-form-container {

        padding-left: 2em;

    }

    .commenter .page-numbers,
    .commenter .page-numbers.dots {
        display: inline-block;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        text-decoration: none;
        font-weight: 300;
        /* height: 30px; */
        /* width: 30px; */
        line-height: 1.3;
        list-style: none;
        width: auto;
        max-width: none;
        display: inline-block;
        border-radius: 0.25em;
        border: 1px solid #e6e6e6;
        padding: .5em 1em;
    }

}

@media not all and (min-width: 48rem) {

    .page-numbers {
        display: none !important;
    }

    .prev.page-numbers,
    .next.page-numbers {
        display: inline-block !important;
    }

}


@-webkit-keyframes scaleFade {
    50% { 
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(3.5);
    }
}

@-moz-keyframes scaleFade {
    50% { 
        opacity: 1;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(3.5);
    }
}

@-o-keyframes scaleFade {
    50% { 
        opacity: 1;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(3.5);
    }
}

@keyframes scaleFade {
    50% { 
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3.5);
    }
}


@keyframes blink {
  0%   { opacity:1;  }
  50%  { opacity:0;  }
  100% { opacity:1;  }
}
@-o-keyframes blink{
  0%   { opacity:1;  }
  50%  { opacity:0;  }
  100% { opacity:1;  }
}
@-moz-keyframes blink{
  0%   { opacity:1;  }
  50%  { opacity:0;  }
  100% { opacity:1;  }
}
@-webkit-keyframes blink{   
  0%   { opacity:1;  }
  50%  { opacity:0;  }
  100% { opacity:1;  }
}

.blink {
   -webkit-animation: flickering 1s infinite;
   -moz-animation: flickering 1s infinite;
   -o-animation: flickering 1s infinite;
    animation: flickering 1s infinite;
}


@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}
